<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <nav>
    <%= link_to '/' do %>
      <i class="material-icons md-36">arrow_back</i>
    <% end %>
    <h2>REGISTER</h2>
    <div class="actions">
      <%= f.submit "Submit", class: "reg-submit" %>
    </div>
  </nav>

  <div class="reg-inputs">
    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>
  </div>
<% end %>

<div class="shared-links">
  <%= render "devise/shared/links" %>
</div>
