<nav>
  <%= link_to "/categories" do %>
    <i class="material-icons md-36">arrow_back</i>
  <% end %>
  <h2>EXPENSES</h2>
  <i class="material-icons md-36">search</i>
</nav>

<div class="container">
  <%= render 'shared/notification_box' %>

  <div>
    <h3>
      Total: $<%= @expenses_sum.to_s + "0" %>
    </h3>
  </div>

  <div class='item'>
    <% if @expenses.empty? %>
      <p>No items available.</p>
    <% else %>
      <% @expenses.each_with_index do |t, i| %>
        <hr>
        <div class="expense-container">
          <div>
            <h3><%= t.name %><br>
            <small><%= t.format_date(t.created_at) %></small></h3>
          </div>

          <div class="amount-col">
            <h4>Amount<br>
            <small><%= "$ " + t.amount.to_s + "0" %></small></h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="large-button">
    <%= link_to "Add Transaction", new_category_expense_path(@category), class: "add-trans-btn", role: "button" %>
  </div>
</div>
